[submodule "app/vendors/bootstrap"]
	path = app/vendors/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "app/vendors/tabletop"]
	path = app/vendors/tabletop
	url = https://github.com/jsoma/tabletop.git
[submodule "app/vendors/angular-ui-utils"]
	path = app/vendors/angular-ui-utils
	url = https://github.com/angular-ui/ui-utils.git
